.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
}

.jumbotron p {
  font-size: 24px;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-margin: 10px;
}

body {
    padding-bottom: 210px;
}

